// Default spacing utility
$spacing: 8;

// Base breakpoint values (used in calculations without `px` value)
$breakpoint-xs: 0;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1264;
$breakpoint-xl: 1904;

// Colors
$color-primary: #2a9d8f;
$color-secondary: #264653;
$color-error: #e76f51;
$color-warning: #e9c46a;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #f0f0f0;

// Elements
$button-height: 40;

// Elevation
$elevation-dark: rgba(0, 0, 0, 0.2);
$elevation-mid: rgba(0, 0, 0, 0.14);
$elevation-light: rgba(0, 0, 0, 0.12);

$elevations: (
  (none),
  (0 2px 1px -1px $elevation-dark, 0 1px 1px 0 $elevation-mid, 0 1px 3px 0 $elevation-light),
  (0 3px 1px -2px $elevation-dark, 0 2px 2px 0 $elevation-mid, 0 1px 5px 0 $elevation-light),
  (0 3px 3px -2px $elevation-dark, 0 3px 4px 0 $elevation-mid, 0 1px 8px 0 $elevation-light),
  (0 2px 4px -1px $elevation-dark, 0 4px 5px 0 $elevation-mid, 0 1px 10px 0 $elevation-light),
  (0 3px 5px -1px $elevation-dark, 0 5px 8px 0 $elevation-mid, 0 1px 14px 0 $elevation-light),
  (0 3px 5px -1px $elevation-dark, 0 6px 10px 0 $elevation-mid, 0 1px 18px 0 $elevation-light),
  (0 4px 5px -2px $elevation-dark, 0 7px 10px 1px $elevation-mid, 0 2px 16px 1px $elevation-light),
  (0 5px 5px -3px $elevation-dark, 0 8px 10px 1px $elevation-mid, 0 3px 14px 2px $elevation-light),
  (0 5px 6px -3px $elevation-dark, 0 9px 12px 1px $elevation-mid, 0 3px 16px 2px $elevation-light),
  (0 6px 6px -3px $elevation-dark, 0 10px 14px 1px $elevation-mid, 0 4px 18px 3px $elevation-light)
);
